html{
	/* This image will be displayed fullscreen */
	background:url('img/bg.png') no-repeat center center;

	/* Ensure the html element always takes up the full height of the browser window */
	min-height:100%;

	/* The Magic */
	background-size:cover;

}

body{
	/* Workaround for some mobile browsers */
	min-height:100%;
	color:white;
}

.container {
    position: absolute;
    top: 50%;
    left: 20%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}